# MongoDB
MONGO_URI=mongodb://localhost:27017/flow

# API
RUST_LOG=info
JWT_SECRET=your_jwt_secret_here
BREVO_API_KEY=your_brevo_api_key_here
PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000

# Desktop
VITE_RPC_URL=https://fullnode.mainnet.sui.io:443
